.batas{
	margin-left: 30px;
}

@media(min-width: 768px) and (max-width: 800px){
	.batas{
		margin-left: 115px;
	}
}

.button-pointer{
	cursor: pointer;
}

.keatas{
	z-index: 99;
}

.info-box-3 .headline-text a:hover{
	color: red;
}